body{
    font-family: Arial,sans-serif;
    margin: 0;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 25px;
}
.cityInput{
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    border: transparent;
    width: 300px;
}
button[type="submit"]{
    font-size: 2rem;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(60, 196, 60);
    cursor: pointer;
}
button[type="submit"]:hover{
    background: rgb(25, 106, 25);
    transition-duration: 100ms;
}
.card{
    background: linear-gradient(180deg,rgb(149, 149, 234),rgb(211, 174, 106));
    border-radius: 25px;
    padding: 50px;
    box-shadow: 2px 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .temperatureDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.662);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.559);
}